*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Open Sans',sans-serif;   
}

body{
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.main{
    width: 100%;
    height: 170px;
    display: flex;
    background-color: white;
    align-items: center;
}

.iconki{
    width: 33%;
    height: 30%;
    display: flex;
    align-items: center;/*srodkowaenie gora dol*/
    margin: auto 0 auto 0;
    padding-left: 5%;   
}
.social{
    width: 40px;
    height: 40px;
    padding-left: 2px; /*odsuwanie iconek*/   
}

.logo{
    width: 15%;
    height: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.search{
    width: 33%;
    height: 30%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.src{
    height: 40px;
    width: 40px;  
     
}

.top-buton{
    background-color: white;
    cursor: pointer;
    border: none;
    align-items: center;
    display: flex;
    padding-left: 40px;
    font-weight: 800;
}

.logo1{
    width: 175px;
    height: 165px;
    margin: auto;
    display: flex;
    align-items: center;
}


.top{
    /* width: 100%; */
    height: 70px;
    background-color: #fcc557;
    clear: both; 
    display: flex;  
    align-items: center;
    padding: 0 10% 0 10%;
    font-weight: 800;
}
.funkcje{
    /* margin-left: 40px; */
    float: left;
    list-style-type: none; 
    text-align: center; 
    border-right: 1px solid #000;
    line-height: 10px;
    /* width: 100px; */
    font-size: 11px;
    font-weight: 800;
    padding: 0 25px 0 25px;   
    
}

.funkcje1{
    text-align: center;   
    display: inline-table;
}


#pr{
    color: white;
}

.tlo{
    width: 100%;
    height: 500px;
}

.text{
    margin-top: 20px;
    padding: 0;

}

.leftText{
    font-size: 11px;
    margin-left: 70px;
    font-weight: 800;
}

.rightText{
    font-size: 11px;
    float: right;
    margin-right: 70px;
    font-weight: 800;
}

.duzy{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
    text-align: center;
}

.maly{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    font-weight:bold;
}

.znaczki{
    position: absolute;
    top: 80%;
    align-items: center;
    left: 35%;
    display: flex;
    
}

.funkcje2{
    visibility: hidden;
}


li:last-child{
    border: none;
    color: white;
}

a{
    text-decoration: none;
    color: black;
}

@media(max-width: 1600px){
    .container{
        width: 1600px;
    }
}

